/* CSS style sheet to overwrite and modify bootstrap templates */

body {
    background-color: #fafafa;

}

.container {
    margin: 0;
    border: 0;
    padding: 0;
}

.top_half {
    background-color: pink;
    width: 100vw;
    height: 50vh;
    
}

/*
.bottom_half {
    background-color: blue;
    position: relative;
    width: 100vw;
    height: 50vh;
}*/