/* CSS style sheet to overwrite and modify bootstrap templates */
/*
body {
    background-color: powderblue;

}
*/
.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-color: lightblue;*/
    
}

.my-flex-item {
    background-color: pink;
    border: black;
    border-style: solid;
    border-width: 3px;
}

.flex-item {
    width: 25%;
    height: 60%;
    max-width: 600px;
    max-height: 750px
}

.register {
    background-color: rgb(10, 42, 102);
    color: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
}

.login {
    background-color: rgba(255, 255, 255, 0.98);
    color: rgb(10, 42, 102);
    border-radius: 10px 0px 0px 10px;
}