/* CSS style sheet to overwrite and modify bootstrap templates */
/*
body {
    background-color: powderblue;

}
*/
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.card {
    width: ;
}
.my-flex-item {
    background-color: pink;
    border: black;
    border-style: solid;
    border-width: 3px;
}