{% extends 'base.html' %}

{% block link %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}

{% block content %}

    
  

<div class="row flex-xl-nowrap profile">
  <div class="col-md-4 col-lg-3 col-xl-2 sidebar">
    <img src="{{url_for('static', filename='images/profile.jpg') }}" class="profile-img mr-3" alt="profile picture" width="80%">
    
    <p class="profile-info">
      <span class="profile-name">{{ current_user.first_name }} {{ current_user.last_name }}</span><br>
      {{ current_user.email }}<br>
      {{ current_user.phone }}<br>
      <a  href="#">Edit Profile</a>
    </p>

    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Add Message
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form action="{{ url_for('profile') }}" id="new_message" class="needs-validation" method="post">
          {{ form.hidden_tag() }}

          <div class="form-group">
            
            {{ form.process_time(class="form-control timepicker") }}
            {{ form.process_time.label(for="process-time") }}
          </div>

          <div class="form-group">
            {{ form.message.label }}
            {{ form.message(class="form-control") }}
          </div>

          <div class="form-group">
            {{ form.submit(class="btn btn-primary btn-block") }} 
          </div>      
        </form>
      </div>
    </div>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="col-md-8 col-lg-9 col-xl-10 main">
    main
  </div>
</div>
{% endblock %}


{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  const timer = document.querySelector('.timepicker');
  M.Timepicker.init(timer, {
    showClearBtn: true,
  });
</script>

{% endblock %}